<br/>
<ul class="nav nav-pills nav-fill">
    <li class="nav-item">
      <a class="nav-link" href="/profile">Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/friends">Friends</a>
    </li>
  </ul>
<br/>


<div class="row">
<div class="col-md-3">
    <img src="{{dbUser.profile}}" width="100%" style="border-radius: 5px; margin-bottom: 5px;" />
<h3>{{dbUser.firstName}} {{dbUser.lastName}}
  <br/>
  <small>{{dbUser.about}}</small></h3>
<hr/>

<form (submit)="updateAccount()">
  <div class="form-group">
      <label for="profile">Profile Picture:</label>
      <input type="text" class="form-control" id="profile" value="{{dbUser.profile}}" [(ngModel)]="profile" name="profile">
  </div>
  <div class="form-group">
      <label for="about">About:</label>
      <textarea class="form-control" id="about" [(ngModel)]="about" name="about">{{dbUser.about}}</textarea>
  </div>
  <input type="submit" value="Edit Account" class="btn btn-secondary btn-block" />
</form>

</div>
<div class="col-md-9">
  <h3>Search for a Friend:</h3>
  <form (submit)="searchFriends()">
    <div class="form-group">
        <input class="form-control form-control-lg" type="text" placeholder="Enter a Name" name="friendSearch" [(ngModel)]="friendSearch">
    </div>
    <div class="float-right">
        <input type="submit" value="Search" class="btn btn-secondary btn-block" />
    </div>
  </form>
  <br/><br/>
  <div *ngIf="foundUsers.length > 0">
      Search Results:
      <hr/>
      <div *ngFor="let friend of foundUsers">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-2">
                  <img src="{{friend.profile}}" width="100%" style="border-radius: 5px; margin-bottom: 5px;" />
              </div>
              <div class="col-md-10">
                <p>{{friend.firstName}} {{friend.lastName}}<br/>
                <small>{{friend.about}}</small></p>
                <a href="/user/{{friend._id}}" class="btn btn-secondary">View Profile</a>
              </div>
            </div>
          </div>
        </div>
        <br/>
      </div>
  </div>
  <hr/>
  <h4>Your Friends:</h4>
  <div *ngIf="friendsFromDB">
    <div *ngFor="let friend of friendsFromDB">

      <!-- If the logged in user is the first friend, take the second friend-->
      <div *ngIf="friend.friend1 == userID">
          <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-2">
                      <img src="{{friend.friend2Profile}}" width="100%" style="border-radius: 5px; margin-bottom: 5px;" />
                  </div>
                  <div class="col-md-10">
                    <p>{{friend.friend2Name}}<br/>
                    <a href="/user/{{friend.friend2}}" class="btn btn-secondary">View Profile</a>
                  </div>
                </div>
              </div>
            </div>
      </div>

      <!-- If the logged in user is the second friend, take the first friend-->
      <div *ngIf="friend.friend2 == userID">
          <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-2">
                      <img src="{{friend.friend1Profile}}" width="100%" style="border-radius: 5px; margin-bottom: 5px;" />
                  </div>
                  <div class="col-md-10">
                    <p>{{friend.friend1Name}}<br/>
                    <a href="/user/{{friend.friend1}}" class="btn btn-secondary">View Profile</a>
                  </div>
                </div>
              </div>
            </div>
      </div>

      <br/>
    </div>
  </div>
</div>
</div>